* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#root {
  overflow: auto;
  background: radial-gradient(ellipse at 90% -100%, #414141 0%, #dddddd 99%);
}
